.box
{
color:#000000;
background-color:#42aaff;
padding-left: 15px;
padding-top: 5px;
min-width: 600px;
min-height: 261px;

border-style: solid;
border-color: #008000;
border-width: 3px;

}

.box1
{
position: fixed;
min-height: 261px;
}