.box1
{
color:#000000;
background-color:#66CDAA;
width: 200px;
height: 145px;
margin-top: 20px;
margin-left: 20px;
}

.box2
{
color:#000000;
background-color:#FFA07A;
margin-top: 20px;
margin-left: 10px;
}
